<a href="https://colab.research.google.com/github/Sooryak12/Enigma-Datathon--21/blob/main/Enigma_Round2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c consumer-complaints

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to /content
 91% 145M/159M [00:07<00:00, 25.8MB/s]
100% 159M/159M [00:07<00:00, 21.6MB/s]
Downloading test.csv.zip to /content
 81% 57.0M/70.0M [00:01<00:00, 24.1MB/s]
100% 70.0M/70.0M [00:01<00:00, 45.3MB/s]
Downloading SAMPLE_SUBMISSION.csv.zip to /content
  0% 0.00/1.81M [00:00<?, ?B/s]
100% 1.81M/1.81M [00:00<00:00, 122MB/s]

In [ ]:
!unzip train.csv.zip
!unzip test.csv.zip

Archive:  train.csv.zip
  inflating: train.csv
Archive:  test.csv.zip
  inflating: test.csv

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option("display.max_columns",99)
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("train.csv")#,parse_dates=["Date received",'Date sent to company'])
test=pd.read_csv("test.csv")#,parse_dates=["Date received",'Date sent to company'])

In [ ]:
df.head(1).isnull().sum().sum()

6

In [ ]:
len(test)

459694

In [ ]:
df.columns

Index(['Unnamed: 0', 'Complaint_ID', 'Date received', 'Product', 'Sub-product',
       'Issue', 'Sub-issue', 'Consumer complaint narrative',
       'Company public response', 'Company', 'State', 'ZIP code', 'Tags',
       'Consumer consent provided?', 'Submitted via', 'Date sent to company',
       'Company response to consumer', 'Consumer disputed?',
       'Timely response?', 'nancount'],
      dtype='object')

In [ ]:
df["nancount"]=df.isnull().sum(axis=1)

In [ ]:
df.head()

,Unnamed: 0,Complaint_ID,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Consumer disputed?,Timely response?,nancount
0,0,2535701,6/8/2017,Mortgage,Conventional home mortgage,Struggling to pay mortgage,NaN,NaN,NaN,"Caliber Home Loans, Inc.",FL,34744,NaN,NaN,Fax,6/12/2017,Closed with explanation,NaN,Yes,6
1,1,3314889,7/22/2019,Credit card or prepaid card,General-purpose credit card or charge card,Problem with a purchase shown on your statement,Credit card company isn't resolving a dispute ...,On XX/XX/2019 all of my credit and debit cards...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,CA,900XX,NaN,Consent provided,Web,7/22/2019,Closed with explanation,NaN,Yes,2
2,2,3612478,4/18/2020,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information belongs to someone else,I was made aware of a negative account and inq...,NaN,"EQUIFAX, INC.",CA,945XX,NaN,Consent provided,Web,4/18/2020,Closed with explanation,NaN,Yes,3
3,3,2069704,8/18/2016,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,Company has responded to the consumer and the ...,"BANK OF AMERICA, NATIONAL ASSOCIATION",TX,77014,NaN,NaN,Phone,8/19/2016,Closed with monetary relief,No,Yes,4
4,4,3354927,8/27/2019,Debt collection,Auto debt,Took or threatened to take negative or legal a...,Threatened or suggested your credit would be d...,NaN,NaN,Bridgecrest Acceptance Corporation,PA,19143,Servicemember,Consent not provided,Web,8/27/2019,Closed with explanation,NaN,Yes,3

In [ ]:
df["nancount"].value_counts()

3    341330
4    283678
5    211973
2    140946
6     42696
1     18146
7      7719
8      1926
0       161
Name: nancount, dtype: int64

In [ ]:
df.head()

,Unnamed: 0,Complaint_ID,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Consumer disputed?,Timely response?
0,0,2535701,6/8/2017,Mortgage,Conventional home mortgage,Struggling to pay mortgage,NaN,NaN,NaN,"Caliber Home Loans, Inc.",FL,34744,NaN,NaN,Fax,6/12/2017,Closed with explanation,NaN,Yes
1,1,3314889,7/22/2019,Credit card or prepaid card,General-purpose credit card or charge card,Problem with a purchase shown on your statement,Credit card company isn't resolving a dispute ...,On XX/XX/2019 all of my credit and debit cards...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,CA,900XX,NaN,Consent provided,Web,7/22/2019,Closed with explanation,NaN,Yes
2,2,3612478,4/18/2020,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information belongs to someone else,I was made aware of a negative account and inq...,NaN,"EQUIFAX, INC.",CA,945XX,NaN,Consent provided,Web,4/18/2020,Closed with explanation,NaN,Yes
3,3,2069704,8/18/2016,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,Company has responded to the consumer and the ...,"BANK OF AMERICA, NATIONAL ASSOCIATION",TX,77014,NaN,NaN,Phone,8/19/2016,Closed with monetary relief,No,Yes
4,4,3354927,8/27/2019,Debt collection,Auto debt,Took or threatened to take negative or legal a...,Threatened or suggested your credit would be d...,NaN,NaN,Bridgecrest Acceptance Corporation,PA,19143,Servicemember,Consent not provided,Web,8/27/2019,Closed with explanation,NaN,Yes

In [ ]:
df.columns

Index(['Unnamed: 0', 'Complaint_ID', 'Date received', 'Product', 'Sub-product',
       'Issue', 'Sub-issue', 'Consumer complaint narrative',
       'Company public response', 'Company', 'State', 'ZIP code', 'Tags',
       'Consumer consent provided?', 'Submitted via', 'Date sent to company',
       'Company response to consumer', 'Consumer disputed?',
       'Timely response?'],
      dtype='object')

In [ ]:
df["Timely response?"].value_counts()

Yes    1026569
No       22006
Name: Timely response?, dtype: int64

In [ ]:
# 2 percent of the data is No

#Ultra Skewed Data 

## Two Options:
    ## UnderSampling 
    ##Smote -(But I dont think this will work)

In [ ]:
df.isnull().sum()

Unnamed: 0                           0
Complaint_ID                         0
Date received                        0
Product                              0
Sub-product                     100901
Issue                                0
Sub-issue                       282519
Consumer complaint narrative    737766
Company public response         601927
Company                              0
State                            21018
ZIP code                         93734
Tags                            919298
Consumer consent provided?      367626
Submitted via                        0
Date sent to company                 0
Company response to consumer         1
Consumer disputed?              719432
Timely response?                     0
dtype: int64

In [ ]:
### Can drop this    but lets wait
df["Unnamed: 0"]

0                0
1                1
2                2
3                3
4                4
            ...
1048570    1048570
1048571    1048571
1048572    1048572
1048573    1048573
1048574    1048574
Name: Unnamed: 0, Length: 1048575, dtype: int64

In [ ]:
## Mudunjavarayum Categorize then Go for Tfidf and Bert

In [ ]:
test.isnull().sum()

Unnamed: 0                           0
Complaint_ID                         0
Date received                        0
Product                              0
Sub-product                      44343
Issue                                0
Sub-issue                       123619
Consumer complaint narrative    323501
Company public response         263701
Company                              0
State                             9162
ZIP code                         40973
Tags                            402957
Consumer consent provided?      161247
Submitted via                        0
Date sent to company                 0
Company response to consumer         1
Consumer disputed?              315638
dtype: int64

In [ ]:
df.columns

Index(['Unnamed: 0', 'Complaint_ID', 'Date received', 'Product', 'Sub-product',
       'Issue', 'Sub-issue', 'Consumer complaint narrative',
       'Company public response', 'Company', 'State', 'ZIP code', 'Tags',
       'Consumer consent provided?', 'Submitted via', 'Date sent to company',
       'Company response to consumer', 'Consumer disputed?',
       'Timely response?'],
      dtype='object')

In [ ]:
test.drop("Unnamed: 0",axis=1,inplace=True)
df.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
test["test"]=1
df["test"]=0

In [ ]:
total=pd.concat([df,test],axis=0)

In [ ]:
#total["nancount"]=0
#for i in tqdm(range(len(total))) :
    #    total.loc[i,"nancount"]= total.iloc[i].isnull().sum()

In [ ]:
df

In [ ]:
df["Product"].value_counts()

In [ ]:
test["Product"].value_counts()

In [ ]:
df["State"].value_counts()

CA    135483
FL    117428
TX     97339
NY     71843
GA     58820
       ...
AA        31
FM        31
AS        19
MP        16
MH        12
Name: State, Length: 62, dtype: int64

In [ ]:
test["State"].value_counts()

CA    59342
FL    51560
TX    43174
NY    31453
GA    25951
      ...
FM        8
AA        8
MP        6
AS        5
PW        1
Name: State, Length: 63, dtype: int64

In [ ]:
len(test)

459694

In [ ]:
labelmap={"Yes":1,"No":0}
df["Timely response?"]=df["Timely response?"].map(labelmap)
total["Timely response?"]=total["Timely response?"].map(labelmap)

## Trying out LightGBM

In [ ]:
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

In [ ]:
ones=df[df["Timely response?"]=="Yes"].sample(100000).copy()

In [ ]:
udf=pd.concat([ones,df[df["Timely response?"]=="No"]],axis=0).copy()

In [ ]:
df.columns

Index(['Unnamed: 0', 'Complaint_ID', 'Date received', 'Product', 'Sub-product',
       'Issue', 'Sub-issue', 'Consumer complaint narrative',
       'Company public response', 'Company', 'State', 'ZIP code', 'Tags',
       'Consumer consent provided?', 'Submitted via', 'Date sent to company',
       'Company response to consumer', 'Consumer disputed?',
       'Timely response?', 'test'],
      dtype='object')

In [ ]:
X=df[['Complaint_ID', 'Product', 'Sub-product',
       'Issue', 'Sub-issue', 'Consumer complaint narrative',
       'Company public response', 'Company', 'State', 'ZIP code', 'Tags',
       'Consumer consent provided?', 'Submitted via',
       'Company response to consumer', 'Consumer disputed?']]
y=df["Timely response?"]

In [ ]:
 X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42,stratify=y)

In [ ]:
lgb=LGBMClassifier(class_weight='balanced')
xgb=XGBClassifier()

In [ ]:
#xgb.fit(X_train,y_train)
# DataFrame.dtypes for data must be int, float or bool.
 #               Did not expect the data types in fields Product, Sub-product, Issue, Sub-issue, Consumer complaint narrative, Company public response, Company, State, ZIP code, Tags, Consumer consent provided?, Submitted via, Company response to consumer, Consumer disputed?

In [ ]:
#Have to Label Encode all the Text Columns

## Continuation

In [ ]:
df["Company response to consumer"].value_counts()

Closed with explanation            861922
Closed with non-monetary relief    109617
Closed with monetary relief         46637
Closed without relief               10013
In progress                          9400
Closed                               7935
Closed with relief                   3050
Name: Company response to consumer, dtype: int64

In [ ]:
test["Company response to consumer"].value_counts().index

Index(['Closed with explanation', 'Closed with non-monetary relief',
       'Closed with monetary relief', 'Closed without relief', 'In progress',
       'Closed', 'Closed with relief'],
      dtype='object')

In [ ]:
#@title Default title text
companyresponsemapper={'Closed with explanation':2, 'Closed with non-monetary relief':-1,
       'Closed with monetary relief':4, 'Closed without relief':-2, 'In progress':0,
       'Closed':1, 'Closed with relief':3 }

In [ ]:
df["Company response to consumer"]=df["Company response to consumer"].map(companyresponsemapper)
total["Company response to consumer"]=total["Company response to consumer"].map(companyresponsemapper)

In [ ]:
df["Submitted via"].value_counts()

Web            823719
Referral       108975
Phone           61720
Postal mail     41132
Fax             12829
Email             200
Name: Submitted via, dtype: int64

In [ ]:
test["Submitted via"].value_counts()

Web            361420
Referral        47737
Phone           26841
Postal mail     17946
Fax              5668
Email              82
Name: Submitted via, dtype: int64

In [ ]:
crchecks=pd.get_dummies(df["Submitted via"])

In [ ]:
crcheck=pd.concat([crchecks,df["Timely response?"]],axis=1)

In [ ]:
crcheck

         Email  Fax  Phone  Postal mail  Referral  Web  Timely response?
0            0    1      0            0         0    0                 1
1            0    0      0            0         0    1                 1
2            0    0      0            0         0    1                 1
3            0    0      1            0         0    0                 1
4            0    0      0            0         0    1                 1
...        ...  ...    ...          ...       ...  ...               ...
1048570      0    0      0            0         1    0                 1
1048571      0    0      0            0         0    1                 1
1048572      0    0      0            0         1    0                 1
1048573      0    0      0            0         0    1                 1
1048574      0    0      0            0         0    1                 1

[1048575 rows x 7 columns]

In [ ]:
crcheck.corr()["Timely response?"]

Email               0.001059
Fax                -0.001741
Phone              -0.010394
Postal mail         0.001687
Referral            0.001526
Web                 0.004459
Timely response?    1.000000
Name: Timely response?, dtype: float64

In [ ]:
df.columns

NameError: ignored

In [ ]:
df.isnull().sum()

Complaint_ID                         0
Date received                        0
Product                              0
Sub-product                     100901
Issue                                0
Sub-issue                       282519
Consumer complaint narrative    737766
Company public response         601927
Company                              0
State                            21018
ZIP code                         93734
Tags                            919298
Consumer consent provided?      367626
Submitted via                        0
Date sent to company                 0
Company response to consumer         1
Consumer disputed?              719432
Timely response?                     0
test                                 0
dtype: int64

In [ ]:
obcol=['Product', 'Sub-product',
       'Issue', 'Sub-issue','State', 'ZIP code', 'Tags','Consumer consent provided?']
for i in obcol:
  display(df[i].nunique())
  display(df[i].value_counts())

18

Credit reporting, credit repair services, or other personal consumer reports    400981
Debt collection                                                                 167263
Mortgage                                                                        153440
Credit reporting                                                                 60028
Credit card or prepaid card                                                      59840
Checking or savings account                                                      47571
Credit card                                                                      38538
Bank account or service                                                          38486
Student loan                                                                     26920
Money transfer, virtual currency, or money service                               14520
Vehicle loan or lease                                                            13063
Consumer Loan                                                                    12671
Payday loan, title loan, or personal loan                                         8854
Payday loan                                                                       2335
Money transfers                                                                   2197
Prepaid card                                                                      1409
Other financial service                                                            454
Virtual currency                                                                     5
Name: Product, dtype: int64

76

Credit reporting                              396298
Checking account                               63005
General-purpose credit card or charge card     44252
Other mortgage                                 42906
I do not know                                  35741
                                               ...
Travelers/Cashiers checks                       45
Credit repair                                     41
Transit card                                      12
Student prepaid card                               7
Electronic Benefit Transfer / EBT card             6
Name: Sub-product, Length: 76, dtype: int64

165

Incorrect information on your report                                                261222
Problem with a credit reporting company's investigation into an existing problem     98074
Loan modification,collection,foreclosure                                             52322
Attempts to collect debt not owed                                                    52211
Incorrect information on credit report                                               44981
                                                                                     ...
Property was sold                                                                        4
Problem with an overdraft                                                                3
Lender damaged or destroyed vehicle                                                      2
Lender sold the property                                                                 2
Lender damaged or destroyed property                                                     2
Name: Issue, Length: 165, dtype: int64

220

Information belongs to someone else                                                 168900
Their investigation did not fix an error on your report                              53986
Account status incorrect                                                             30502
Account information incorrect                                                        29125
Debt is not yours                                                                    26446
                                                                                     ...
Qualified for a better loan than the one offered                                         5
Was signed up for overdraft on card, but don't want to be                                2
Insurance terms                                                                          2
Credit monitoring or identity theft protection services                                  1
Problem with a credit reporting company's investigation into an existing problem         1
Name: Sub-issue, Length: 220, dtype: int64

62

CA    135483
FL    117428
TX     97339
NY     71843
GA     58820
       ...
AA        31
FM        31
AS        19
MP        16
MH        12
Name: State, Length: 62, dtype: int64

20797

330XX    8581
331XX    7657
300XX    6500
770XX    6064
606XX    4697
         ...
22002       1
85328       1
53520       1
2334        1
24593       1
Name: ZIP code, Length: 20797, dtype: int64

3

Servicemember                    69827
Older American                   48350
Older American, Servicemember    11100
Name: Tags, dtype: int64

4

Consent not provided    338684
Consent provided        311002
Other                    29605
Consent withdrawn         1658
Name: Consumer consent provided?, dtype: int64

In [ ]:
df.head()

,Unnamed: 0,Complaint_ID,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Consumer disputed?,Timely response?,test
0,0,2535701,6/8/2017,Mortgage,Conventional home mortgage,Struggling to pay mortgage,NaN,NaN,NaN,"Caliber Home Loans, Inc.",FL,34744,NaN,NaN,Fax,6/12/2017,2.0,NaN,1,0
1,1,3314889,7/22/2019,Credit card or prepaid card,General-purpose credit card or charge card,Problem with a purchase shown on your statement,Credit card company isn't resolving a dispute ...,On XX/XX/2019 all of my credit and debit cards...,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,CA,900XX,NaN,Consent provided,Web,7/22/2019,2.0,NaN,1,0
2,2,3612478,4/18/2020,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information belongs to someone else,I was made aware of a negative account and inq...,NaN,"EQUIFAX, INC.",CA,945XX,NaN,Consent provided,Web,4/18/2020,2.0,NaN,1,0
3,3,2069704,8/18/2016,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,Company has responded to the consumer and the ...,"BANK OF AMERICA, NATIONAL ASSOCIATION",TX,77014,NaN,NaN,Phone,8/19/2016,4.0,No,1,0
4,4,3354927,8/27/2019,Debt collection,Auto debt,Took or threatened to take negative or legal a...,Threatened or suggested your credit would be d...,NaN,NaN,Bridgecrest Acceptance Corporation,PA,19143,Servicemember,Consent not provided,Web,8/27/2019,2.0,NaN,1,0

In [ ]:
## Lets UnderSample,one hot encode most of the thing except consumer complaint narrative

## Substiuting Missing Values with None

In [ ]:
df.isnull().sum()

Complaint_ID                         0
Date received                        0
Product                              0
Sub-product                     100901
Issue                                0
Sub-issue                       282519
Consumer complaint narrative    737766
Company public response         601927
Company                              0
State                            21018
ZIP code                         93734
Tags                                 0
Consumer consent provided?      367626
Submitted via                        0
Date sent to company                 0
Company response to consumer         1
Consumer disputed?              719432
Timely response?                     0
test                                 0
dtype: int64

In [ ]:
total["Tags"].fillna("None",inplace=True)
df["Tags"].fillna("None",inplace=True)
# out of 10 lakhs nine lakhs are empty so can remove it if we want

In [ ]:
total["Tags"]

In [ ]:
df["Timely response?"].value_counts()

Yes    1026569
No       22006
Name: Timely response?, dtype: int64

In [ ]:
#What i think let me remove and undersample first